{% extends 'website/home.html' %}

{% block content %}

                <div class="container-fluid">
                    <div class="jumbotron">
                        <h1>Créer un article</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <table>
                                {{form.as_table}}
                            </table>
                            {% if error %}
                            {{error}}
                            {% endif %}
                            <p>
                                <input class="btn btn-lg btn-primary" type="submit" value="Créer &raquo;">
                            </p>
                        </form>
                    </div>
                </div>

{% endblock %}