{% extends 'website/home.html' %}

{% block content %}
                <div class="container-fluid">
                    <div class="jumbotron">
                        <article>
                            <center>
                                <h2>{{post.title}}</h2>
                            </center>
                            <p>{{post.content|safe}}</p>
                            <h6>Publié par <i>{{post.author.name}}</i> le {{post.created_on|date:'j F Y'}}</h6>
                            <p>
                                <a class="btn btn-lg btn-primary" href="#" role="button">Tous les articles &raquo;</a>
                            </p>
                        </article>
                    </div>
                </div>
{% endblock %}