{% extends 'website/home.html' %}

{% block content %}
    {% for post in posts %}
        {% if not post.published and post.author.email == user.email %}
                <div class="container-fluid">
                    <div class="jumbotron">
                        <article>
                            <center>
                                <h2>{{post.title}}</h2>
                            </center>
                            <p>{{post.content|safe}}</p>
                            <h6>Rédigé par <i>{{post.author.name}}</i> le {{post.created_on|date:'j F Y'}}</h6>
                            <p>
                                <a class="btn btn-lg btn-primary" href="{% url 'blog:publish' id=post.id %}" role="button">Publier &raquo;</a>
                                <a class="btn btn-lg btn-primary" href="#" role="button">Modifier &raquo;</a>
                                <a class="btn btn-lg btn-primary" href="#" role="button">Supprimer &raquo;</a>
                            </p>
                        </article>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
{% endblock %}